# SEO URL Settings
RewriteEngine On
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
ErrorDocument 403 https://bluebrad.net/denied
#ErrorDocument 404 /404/

#if wordpress is used
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/
RewriteBase /
RewriteRule ^sitemap.xml$ index.php?route=extension/feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=extension/feed/google_base [L]
RewriteRule ^system/storage/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]

# Redirects! 
redirect /index.php?route=account/loginUpon /index.php?route=account/login
redirect /administrator /admin
redirect /blackhole https://bluebrad.net/blackhole/


Options +SymLinksIfOwnerMatch
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|.twig|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
</FilesMatch>
## COUNTRY BLOCK ##
###################
Header set CF-IPCountry-Test "%{HTTP:CF-IPCountry}e"
#  United States
# Allow only the United States (US) or change to your country
<RequireAny>
    Require expr %{HTTP:CF-IPCountry} == 'US'
</RequireAny>
<RequireAll>
    Require expr %{HTTP:CF-IPCountry} != 'KR'
	Require expr %{HTTP:CF-IPCountry} != 'UK'
	Require expr %{HTTP:CF-IPCountry} != 'GB'
	Require expr %{HTTP:CF-IPCountry} != 'CN'
	Require expr %{HTTP:CF-IPCountry} != 'RU'
	Require expr %{HTTP:CF-IPCountry} != 'IN'
	Require expr %{HTTP:CF-IPCountry} != 'IT'
	Require expr %{HTTP:CF-IPCountry} != 'TH'
	Require expr %{HTTP:CF-IPCountry} != 'TR'
	Require expr %{HTTP:CF-IPCountry} != 'NL'
	Require expr %{HTTP:CF-IPCountry} != 'UA'
	Require expr %{HTTP:CF-IPCountry} != 'DE'
	Require expr %{HTTP:CF-IPCountry} != 'BR'
	Require expr %{HTTP:CF-IPCountry} != 'ES'
	Require expr %{HTTP:CF-IPCountry} != 'BY'
	Require expr %{HTTP:CF-IPCountry} != 'CZ'
	Require expr %{HTTP:CF-IPCountry} != 'EU'
</RequireAll>
###################
## BLOCK THE IP OR HOST - THIS WILL UPDATE WITH THE DENY.PHP ##
<RequireAll>
Require not ip 176.227.215.131
Require not host scan03.fgxintel.com
Require not host orowave.com
Require not ip 84.17.43.195
Require not host unn-84-17-43-195.cdn77.com
Require not host ^.*\.cdn77\.com$
Require not ip  51.77.214.27
Require not ip 51.77.214.27
Require not host ^.*\.eu$
</RequireAll>
###################
