# SEO URL Settings
RewriteEngine On
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
ErrorDocument 403 /blackhole
#ErrorDocument 404 /404/

# If your opencart installation does not run on the main web folder make sure you folder it does run in ie. / becomes /shop/
RewriteBase /
RewriteRule ^sitemap.xml$ index.php?route=extension/feed/google_sitemap [L]
RewriteRule ^googlebase.xml$ index.php?route=extension/feed/google_base [L]
RewriteRule ^system/storage/(.*) index.php?route=error/not_found [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !.*\.(ico|gif|jpg|jpeg|png|js|css)
RewriteRule ^([^?]*) index.php?_route_=$1 [L,QSA]

# Redirects! 
redirect /index.php?route=account/loginUpon /index.php?route=account/login
redirect /administrator /admin
resirect /blackhole https://bluebrad.net/blackhole/


Options +SymLinksIfOwnerMatch
Options -Indexes

# Prevent Direct Access to files
<FilesMatch "(?i)((\.tpl|.twig|\.ini|\.log|(?<!robots)\.txt))">
 Require all denied
</FilesMatch>

SetEnvIf CF-IPCountry DE BuzzOff=1
SetEnvIf CF-IPCountry RU BuzzOff=1
SetEnvIf CF-IPCountry CN BuzzOff=1
SetEnvIf CF-IPCountry IN BuzzOff=1
SetEnvIf CF-IPCountry FR BuzzOff=1
SetEnvIf CF-IPCountry GR BuzzOff=1

<RequireAll>
Require not host a1.by .telecom.by telecom\.by rapidseedbox\.com softvideo\.ru allround\.net leaseweb\.com scorpiondata\.com had\.pm uni-saarland\.de hosted-by-vdsina\.ru petalsearch\.com nothingtohide\.nl
Require all granted
</RequireAll>
